table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}

td {
  height: 50%;
}

/* Table div */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #800;
  font-size: 30px;
}

.sidenav {
  list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
  
}

.sidenav a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  
}

.sidenav a:hover {
  background-color: #008fb3;
  color: white;
  
}

