

table {
  width: 100%;
}

td {
  height: 50%;
}

/* Table div */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #800;
  font-size: 30px;
}

.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 250px;
  background-color:  white;
  font-size: 20px;  
}

.sidenav li {
  margin-bottom: 5px;
  background-color: #008fb3;
}

.sidenav a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  
}

.sidenav a:hover {
  background-color: #333;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

