* {box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;}

.flex-container{
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    justify-content: center;
}

.flex_signup_left {
    width: 60%;
    float: left;
    align-content: left;
    padding: 15px;  
}

.flex_signup_right {
    width: 40%;
    float: left;
    align-content: left;
    padding: 15px;  
}

.flex_welcome_left {
    width: 80%;
    float: left;
    align-content: left;
    padding: 15px;  
}

.flex_welcome_right {
    width: 20%;
    float: left;
    align-content: left;
    padding: 15px;  
}


.flex_left_side{
    width: 30%;
    float: left;
    align-content: left;
    padding: 15px;
}

.flex_middle {
    width: 40%;
    float: center;
    align-content: center;
    padding: 15px;
}

.flex_right_side {
    width: 30%;
    float: right;
    align-content: center;
    padding: 15px;
}


/* style the navbar */
.topnav{
	overflow: hidden;
	background-color: #333;
}

/* Navbar links */
.topnav a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
}

/* Navbar links on mouse-over */
.topnav a:hover {
	background-color: #66ccff;
	color: black;
}

/* Inactive/current link */
.topnav a.inactive {
	background-color: #333 ;
	color: white;
}

/* Inactive/current link */
.topnav a.inactive:hover {
	background-color: #008fb3;
	color: white;
}

/* Active/current link */
.topnav a.active {
	background-color: #008fb3;
	color: white;
}

/* Active/current link */
.topnav a.active:hover {
	background-color: #66ccff;
	color: white;
}

/* Style the input container */
.topnav .login-container {
	float: right;
}

/* style the input field inside the navbar */
.topnav input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
	width: 150px; /*adjust as needed (as long as it doesn't  break the topnav)*/
}

/* Style the button inside the the input container*/
.topnav .login-container button {
	float: right;
	padding: 6px;
	margin-top: 8px;
	margin-right: 16px;
	background: blue;
	font-size: 17px;
	border: none;
	cursor: pointer;
	color: white;
	border-radius: 10px;
}

.topnav .login-container button:hover {
	background: #005266;
}

.login-form {
	overflow: hidden;
}

.login-form input[type=text], .login-form input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    background-color: #f1f1f1;
}

.login-form input[type=text]:focus, .login-form input[type=password]:focus{
    background-color: #ddd;
    outline: none
}

.head { 
    display: block;
    font-size: 40px;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
    color: #800;
}

.login-form button {
    background-color: #008fb3;
    color: white;
    border: none; 
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
	font-weight: bold;
    width: 100%;
    border-radius: 25px;
    justify-content: center;
}

.login-form button:hover{
    background-color: #005266;
    color: white;
    opacity: 1;
    cursor: pointer;
}

/* Add responsiveness - on small screen, display the navbar vertically instead of horizontal */
@media screen and (max: 600px) {
	
	.topnav .login-container {
	float: none;
}

  .topnav a, .topnav input[type=text], .topnav .login-container button {
	float: none;
	display: block;
	text-align: left;
	width: 100%;
	margin: 0;
	padding: 14px;
}

.topnav input[type=text] {
	border: 1px solid #ccc;
}
}

/*========================== shopping cart ============================================*/

#site {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 1em;
}

#masthead {
	margin-top: 3em;
	padding: 2em 0 0.5em 0;
	border-bottom: 1px solid #ddd;
}

#masthead h1 {
	margin: 0;
	font-size: 3.5em;
	overflow: hidden;
	padding-left: 85px;
	min-height: 82px;
	line-height: 2.3;
	background: url(../images/logo.png) no-repeat 0 50%;
	color: #900;
	
}

.tagline {
	float: right;
	color: #666;
	font-size: 14px;
	padding-top: 3.5em;
}

#products ul {
	margin: 1.5em 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

#products li {
	float: left;
	width: 31%;
	margin: 0 1%;
	display: block;
}

.product-image {
	margin: 0 auto 1em auto;
	background: #000;
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 50%;
	
}

.product-description {
	padding: 1em;
	background: #000;
	color: #fff;
	border-radius: 5px;
}

.product-name {
	text-align: center;
	color:  #fff;
	margin: 0;
	font-size: 1.4em;
	padding-bottom: 0.2em;
	border-bottom: 1px dotted #666;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.product-price {
	text-align: center;
	font-weight: bold;
	/* font-size: 20px;	 */
	/* color: #800;	 */
	color: #fc0;
}

form.add-to-cart div,
form.add-to-cart p {
	text-align: center;
}

form input.qty {
	width: 40px;
	border: 1px solid #eee;
	font: 1em 'PT Serif', serif;
	background: #f9f9f9;
	color: #000;
	border-radius: 3px;
	margin-left: 0.4em;
}

.btn, a.btn {
	display: inline-block;
	background: #4CAF50;
	color: #fff;
	font: 1em 'PT Serif', serif;
	padding: 0.3em 1em;
	text-align: center;
	border-radius: 4px;
	border: 1px solid ;
}


#site-info {
	height: 3em;
	width: 100%;
	line-height: 3;
	text-align: center;
	background: #cc8500;
	position: absolute;
	color: #fff;
	left: 0;
	bottom: 0;
}

body#checkout-page #site-info {
	position: static;
}

#shopping-cart {
	margin: 1.5em 0;
}

.shopping-cart {
	border: 1px solid #ddd;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	table-layout: fixed;
}

.shopping-cart th {
	font-size: 1.3em;
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
	text-transform: uppercase;
}

.shopping-cart td {
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
}

.shopping-cart tr:nth-child(even) {
	background: #fafafa;
}

.shopping-cart td.pdelete {
	text-align: center;
}

.pdelete a,
.pdelete a:hover {
	color: #c00;
	text-decoration: none;
	font-size: 2.5em;
	display: block;
	text-align: center;
}

#shopping-cart-actions {
	margin: 1.5em 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#shopping-cart-actions li {
	display: inline-block;
	margin-right: 1em;
}

#pricing {
	padding: 0.5em;
	margin: 1em 0;
	background: #ddd;
}

#sub-total, #shipping {
	margin: 1.5em 0;
	text-align: right;
	font-size: 20px;
	font-weight: bold;
}

#sub-total span,
#shipping span {
	margin-left: 1em;
}

#content > h1,
#checkout-order-form h2 {
	font-size: 2em;
	text-align: center;
}

#pricing #sub-total,
#pricing #shipping {
	margin: 1em 0;
}

#checkout-order-form {
	margin: 1.5em 0;
}

#checkout-order-form fieldset {
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 1em;
	margin-bottom: 1.3em;
}

#checkout-order-form legend {
	padding: 0.3em;
	background: #fafafa;
	font-weight: bold;
}

#checkout-order-form div {
	margin-bottom: 1em;
}

#checkout-order-form label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.3em;
	text-align: left;
}

#checkout-order-form input[type="text"] {
	width: 200px;
	display: block;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0.3em;
}

#checkout-order-form select {
	width: 200px;
	display: block;
}

.message {
	display: block;
	margin: 0.5em 0;
	color: red;
}

#user-details {
	margin: 1.5em 0;
}

#user-details > h2 {
	text-align: center;
	font-size: 2em;
}

#user-details-content {
	margin: 1.5em 0;
	padding: 1em;
	border: 1px solid #ddd;
	border-radius: 6px;
	overflow: hidden;
}

#user-details-content .detail {
	float: left;
	width: 46%;
}

#user-details-content .detail.right {
	float: right;
}

#user-details-content .detail > h2 {
	text-align: center;
	font-size: 1.6em;
	margin-bottom: 0.5em;
}

#user-details-content ul {
	margin: 0 0 1em 0;
	padding: 0;
	list-style: none;
}

#user-details-content li {
	display: block;
	margin-bottom: 0.5em;
	padding-bottom: 0.3em;
	border-bottom: 1px solid #ddd;
}

#paypal-form {
	margin: 1.5em 0;
}